@page
@model SeaCleanSolutions.Pages.AssessmentModel
@{
    ViewData["Title"] = "Sea Clean Solutions";
    Layout = null;
    var x = Model.Courses.FirstOrDefault();
}
@using Microsoft.AspNetCore.Identity
@using SeaCleanSolutions.Areas.Identity.Data

@inject SignInManager<SeaCleanSolutionsUser> SignInManager
@inject UserManager<SeaCleanSolutionsUser> UserManager
<!--Imports-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/register.css" />>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    </head>

<!--Nav-->
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a asp-page="/MainPainel" class="navbar-brand d-flex align-items-center">
                <img src="~/img/logoH.png" id="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!--Body-->
<div class="container">
    <hr>
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 500px;">
            <h4 class="card-title mt-3 text-center">@x.CourseName Assessment</h4>
            @foreach (var item in Model.QuestionarieModel)
            {
                <p>Q: @item.QuestionNumber &nbsp;    @item.Question</p>
                <hr />
                foreach (var opt in Model.options)
                {
                    if (opt.Item1 == item.QuestionNumber)
                    {
                        <div>
                            <input type="checkbox" class="custom-radio" name="@opt.Item1" value="@opt.Item2">
                            <label for="@opt">@opt.Item2</label>
                        </div>
                    }
                }
            }
            <p>
                <a id="btnAssessment" class="btn btn-primary my-2 float-lg-right" asp-page="PosAssessment">Submmit</a>
            </p>
        </article>
    </div>
</div>


<script>
    // the selector will match all input controls of type :checkbox
// and attach a click event handler 
$("input:checkbox").on('click', function() {
  // in the handler, 'this' refers to the box clicked on
  var $box = $(this);
  if ($box.is(":checked")) {
    // the name of the box is retrieved using the .attr() method
    // as it is assumed and expected to be immutable
    var group = "input:checkbox[name='" + $box.attr("name") + "']";
    // the checked state of the group/box on the other hand will change
    // and the current value is retrieved using .prop() method
    $(group).prop("checked", false);
    $box.prop("checked", true);
  } else {
    $box.prop("checked", false);
  }
});
</script>